<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Reset your password | Ciphemic Technologies</title>

    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            min-width: 100%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1rem;
            line-height: 1.5;
            background-color: #FAFAFA;
            color: #222222;
        }

        h1 {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.25;
            margin-top: 0;
            margin-bottom: 16px;
            text-align: center;
        }

        p {
            margin-top: 0;
            margin-bottom: 16px;
        }

        /*** Layout Design ***/
        .email-wrapper {
            max-width: 800px;
            margin: 0 auto;
        }

        .email-header {
            background-color: #0070f3;
            padding: 24px;
            color: #FFFFFF;
        }

        .email-body {
            padding: 24px;
            background-color: #ffffff;
        }

        .email-body .link:hover {
            color: #5f10ff;
        }

        .email-footer {
            background-color: #f6f6f6;
            padding: 24px;
        }



        /* CSS */
        .link {
            appearance: none;
            backface-visibility: hidden;
            background-color: #2f80ed;
            border-radius: 10px;
            border-style: none;
            box-shadow: none;
            box-sizing: border-box;
            color: #fff !important;
            cursor: pointer;
            display: inline-block;
            font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
            font-size: 15px;
            font-weight: 500;
            height: 50px;
            letter-spacing: normal;
            line-height: 1.5;
            outline: none;
            overflow: hidden;
            padding: 14px 30px;
            position: relative;
            text-align: center;
            text-decoration: none;
            transform: translate3d(0, 0, 0);
            transition: all .3s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: top;
            white-space: nowrap;
        }

        .link:hover {
            background-color: #024194;
            color: #fff !important;
            box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
            opacity: 1;
            transform: translateY(0);
            transition-duration: .35s;
        }

        .link:hover:after {
            opacity: .5;
        }

        .link:active {
            box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
            transform: translateY(2px);
            transition-duration: .35s;
        }

        .link:active:after {
            opacity: 1;
        }

        @media (min-width: 768px) {
            .link {
                padding: 14px 22px;
                width: 176px;
            }
        }
    </style>
</head>

<body>
    <div class="email-wrapper">
        <div class="email-header">
            <h1>Reset your password - Ciphemic Technologies</h1>
        </div>
        <div class="email-body">
            <p style="font-size: 1.2rem;">Hello <%= user.name %>
            </p>
            <p>Click on the below link to reset your passwors.</p>
            <a href="<%= link %>" class="link">
                Reset Password
            </a>
            <p style="margin-top: 20px; font-size: 0.75rem;">Please do not share this link with anyone as this is a
                secured link and it will expire with in the next 5 minutes.</p>
        </div>
        <div class="email-footer">
            <p>If you have any question, please don't hesitate to contact us at
                <a href="mailto:support@lms.com">support@lms.com</a>
            </p>
        </div>
    </div>
</body>

</html>